<footer id="footer" class="site-footer">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-md">
						<p>Центр аппаратной нейромодуляци доктора Харченко © Лицензия МЗ Украины №728 от 5.11.15 г. (предыдущая АЕ № 196030 от 13.12.12 г.)</p>
					</div>
					<div class="col-md col-md-auto footer-social">
						<div class="footer-social-icons">
							<a target="_blank" href="https://www.facebook.com/doctorkharchenko/" title="Facebook"><i class="fab fa-facebook"></i></a>
							<a href="skype:alina_kh2000?chat" title="Skype"><i class="fab fa-skype"></i></a>
							<a target="_blank" href="https://plus.google.com/u/0/111916181817094857145" title="Google Plus"><i class="fab fa-google-plus"></i></a>
							<a target="_blank" href="https://www.instagram.com/doctorkharchenko/" title="Instagram"><i class="fab fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>