<header id="header">
				<div class="container">
					<strong class="logo"><a href="#"><img src="images/logo.png" width="222" height="80" alt="Центр аппаратной нейромодуляции доктора Харченко"></a></strong>
					<nav id="nav">
						<ul>
							<li@@if (activepage === 'homepage') { class="active"}><a href="#">Главная</a></li>
							<li@@if (activepage === 'aboutpage') { class="active"}><a href="#">о нас</a></li>
							<li@@if (activepage === 'servicespage') { class="active"}><a href="#">наши услуги</a></li>
							<li@@if (activepage === 'yourdoctorpage') { class="active"}><a href="#">ваш доктор</a></li>
							<li@@if (activepage === 'postspage') { class="active"}><a href="#">статьи</a></li>
							<li@@if (activepage === 'contactspage') { class="active"}><a href="#">контакты</a></li>
						</ul>
					</nav>
				</div>
			</header>